@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@500&family=Playfair+Display:wght@500;700&display=swap');

:root {
  --win-color:#13cf00;
  --draw-color:#76766f;
  --lose-color: #d81920;
}

.App {
  height: max-content;
  margin-top: 80px;
}

.navbar-title {
  font-family: 'Oswald', serif;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-image {
  width: 40px;
  height: 50px;
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #eeeee7;
}

.selected > .navbar-image {
  background-color: #a71883;
}

.navbar-image:hover {
  background-color: #a71883;
  transition: background-color 0.3s ease-in-out;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.navbar-nav {
  margin: 0;
  flex-direction: inherit !important;
  justify-content: space-evenly !important;
}

.sliderContainer {
  transform: translateY(120px);
  width: 50%;
  margin: 10rem auto;  
}

.slide img {
  width: 230px;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  /* opacity: 0.5; */
}

.activeSlide {
  --borderWidth: 3px;
  transform: scale(1.1);
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
  width: auto !important;
}

.activeSlide:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2); 
  width: calc(100% + var(--borderWidth) * 2); 
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.arrow {
  position: absolute;
  cursor: pointer;
  font-size: 100px;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: -10%;
  top: 20%;
}

.prev {
  left: -10%;
  top: 20%;
}

/* Standings styles */
.table-header{
  position:sticky;
  top: 0 ;
}

.table-container {
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  display: inline-block;
}

.league-img {
  width: 50px;
  padding: 10px 0 10px 0;
}

.form {
  color: white;
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}

.win {
  background: var(--win-color);
}

.draw {
  background: var(--draw-color);
}

.lose {
  background: var(--lose-color);
}

.form-column {
  width: 18%;
}

@media screen and (max-width: 1300px) {
  .form {
    color: white;
    width: 25px;
    height: 25px;
    line-height: 24px;
  }

  .activeSlide {
    transform: scale(0.9);
  }

  .sliderContainer {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .form {
    color: white;
    font-size:12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .activeSlide {
    transform: scale(0.8);
  }

  .sliderContainer {
    width: 70%;  
  }
}

@media screen and (max-width: 992px) {
  .App {
    margin-top: 70px;
  }

  .navbar-nav {
    background: #4878b7;
    margin: 20px 0 10px 0 !important;
    outline: auto;
    border-radius: 10px;
  }
}

@media screen and (max-width: 800px) {
  .navbar-title {
    font-size: 1.7rem;
  }

  .navbar-nav {
    background: #4878b7;
    margin-bottom: 0 !important;
  }

  .table-container {
    font-size: 10px;
  }

  .table>tbody {
    vertical-align: middle !important;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
  }

  .activeSlide {
    transform: scale(0.6);
  }

  .sliderContainer {
    width: 80%;  
  }
}

@media screen and (max-width: 600px) {
  .navbar-title {
    font-size: 1.2rem;
  }

  .navbar-toggler {
    padding: 0 !important;
  }

  .team-name {
    display: block;
  }

  .slide {
    transform: scale(0.0);
  }

  .activeSlide {
    transform: scale(1);
  }

  .sliderContainer {
    width: 90%;  
  }

  .next {
    right: -5%;
  }
  
  .prev {
    left: -5%;
  }
}

@media screen and (max-width: 400px) {
  .activeSlide {
    transform: scale(0.7);
  }

  .next {
    right: none;
  }
  
  .prev {
    left: none;
  }
}