body {
    font-style: #fff;
    background-image: url(./assets/img/main/football-stadium.jpg) ;
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    body {
        font-style: #fff;
        background-image: url(./assets/img/main/football-stadium.jpg) ;
        background-size: auto 120%;
    }
  }