body {
    font-style: #fff;
    background-image: url(./assets/img/main/football-stadium.jpg) ;
    background-size: cover;
    min-height: 70vh;
    max-height: 100vh;
}

@media screen and (max-width: 1200px) {
    body {
        background-size: auto 140%;
    }
}

@media screen and (max-width: 700px) {
    body {
        background-size: auto 180%;
    }
}